<link rel="stylesheet" type="text/css" href="/css/header.css">


<div id="header">
  <nav class="topnav">
    <a class="active" href="/">Global Pay</a>
    <a href="/users/passbook">Passbook</a>
    <a href="/users/profile/<%= locals.user.id %>">Profile</a>
    <a href="/users/view-all-customers">View customers</a>
    <a href="/users/sign-out">Sign Out</a>
    
  </nav>
</div>