<div id='sign-up-container'>
    <div id='sign-up-outline'>
        <h1>Sign Up Page</h1>
        <form action="/users/create" method="POST">
            <p>Name: </p><input type="textarea" name="name" placeholder="Enter name" required>
            <p>Phone No.: </p><input type="number" name="phone" placeholder="Enter Phone No." required>
            <p>Username: </p><input type="email" name ="email" placeholder="Enter username" required>
            <p>Password: </p><input type="password" name ="password" placeholder="Enter password"required>
            <p>Confirm Password: </p><input type="password" name ="confirm_password" placeholder="Confirm password"required>

            <button type="submit">Add user</button>
        </form>
    </div>
    <a href="/users/sign-in"><button>Sign In</button></a>

</div>


