<link rel="stylesheet" type="text/css" href="/css/signIn.css">

<div id='sign-in-container' class="overlay">
  <form action="/users/create-session" method="POST">
  <div id='sign-in-outline' class="con">
      <header class="head-form">
        <h2>Log In</h2>
        <p>login here using your phone number and password</p>
      </header>
    
    <br>
    <div class="field-set">

          
          <!--   user name -->
         
          <span class="input-item">
            <i class="fas fa-phone"></i>
          </span>
          <!--   user name Input-->
          
          <input class="form-input" id="txt-input" type="number" name ="phone" placeholder="@phoneNumber" required>
          <br>
          
          <!--   Password -->
     
          <span class="input-item">
            <i class="fa fa-key"></i>
          </span>

          <!--   Password Input-->
          <input id="pwd" class="form-input" type="password" name ="password" placeholder="Enter password" required>
          
          <!--      Show/hide password  -->
          <span>
            <i class="fa fa-eye" aria-hidden="true"  type="button" id="eye"></i>
          </span>
          
          <br>
          
          <!--        buttons -->
          <!--      button LogIn -->
          <button type="submit">Log In</button>
        </div>
        <div class="other">
          <!--      Forgot Password button-->
          <button class="btn submits frgt-pass"><a href="/users/sign-up">Forgot Password</a></button>
          <!--     Sign Up button -->
          <button class="btn submits sign-up"><a href="/users/sign-up">Sign Up </a>
            <!--         Sign Up font icon -->
            <i class="fa fa-user-plus" aria-hidden="true"></i>
          </button>
        
          <!--      End Other the Division -->
        </div>        
      </div>
      
    </form>
</div>

<script src="/js/signIn.js"></script>

<script type="text/javascript">
  window.history.forward();
        function noBack() {
            window.history.forward();
        }
</script>


