<%- include('_header') %>
<link rel='stylesheet' href="/css/viewAllCus.css">

<div id="view-all-customers">
    <ul>
        <h2>View all customers</h2>
        <%for(user of users){%>
            <li class="user-card">    
                <a href="/users/profile/<%= user._id%>">
                  <h3><%= user.name %></h3>
                </a>
              
            </li>
        <% } %>
    </ul>
</div>